[submodule "packages/textual"]
	path = packages/textual
	url = https://github.com/morajlab/textual.git
[submodule "packages/wsl-images"]
	path = packages/wsl-images
	url = https://github.com/morajlab/mji-wsl-images.git
[submodule "packages/vagrant-images"]
	path = packages/vagrant-images
	url = https://github.com/morajlab/mji-vagrant-images.git
